*{
    margin:0;
    padding:0;
}
body
{
    background-color:#eee;
}
.container
{
    width:960px;
    height:450px;
    margin:60px auto;
    position:relative;
}
img
{
width:150px;
}
.container img:hover{
    box-shadow:15px 15px 20px rgba(50,50,50,0.4);
    transform:rotate3d(1,1,1,180deg) scale(1.50);
    -webkit-transform:rotate3d(1,1,1,180deg) scale(1.50);
    z-index:2;
}
.container img
{
    padding:10px 10px 15px;
    background-color:white;
    border:1px solid #ddd;
    box-shadow:2px 2px 3px rgba(50,50,50,0.4);
    -webkit-transition:all 0.5s ease-in;
    z-index:1;
}
.img0
{
    left:400px;
    top:0px;
    transform:rotate(-5deg);
    -webkit-transfrom:rotate(-5deg);
}
.img1
{
    left:600px;
    top:0px;
    transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
}
.img2
{
    bottom:0px;
    right:0px;
    transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
}
.img3
{
    bottom:400px;
    left:300px;
    transform:rotate(-10deg);
    -webkit-transform:rotate(-10deg);
}
.img4
{
    bottom:0;
    top:0;
    transform:rotate(-10deg);
    -webkit-transform:rotate(-10deg);
}
.img5
{
    left:0;
    top:0;
    transform:rotate(10deg);
    -webkit-transform:rotate(10deg);
}
.img6
{
    left:850px;
    top:0;
    transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
}